*{
   
    border: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color:10px solid rgb(186, 137, 232);
    border: border-box;
   
    
}
.logo{
    height: 50px;
    width: 100px; 
    padding-right: 10px;

}

body{
    background-color: white;
    color: black;
    width: 100%;
}
.nav_bar{
    padding-top: 10px;
display: flex;
height: 50px;
justify-content: space-evenly;
position: relative;
align-items: center;
}
.nav_box{
    display: flex;
    width: 40%;
font-size: 16px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
button{
    border: none;
    background-color: white;
    font-size: 16px;
}
.hero_box{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    margin-left: 250px;
    
    margin-top: 50px;
    margin-right: 50px;

}
h1{
    padding-bottom: 5px;
    font-size: 50px;
}
p{
    padding-bottom: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.716);

}
.hero_card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    margin-right: 50px;
    height: 350px;
    border-radius: 10px;
    width: 600px;
    align-items: center;
    justify-content: center;
}
.hero_card_1{
    height: 350px;
    width: 350px;
   
}
.get_access{
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 18px;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-right: 10px;
}
.learn_more{
    border: 1px solid orangered;
    border-radius: 18px;
    padding: 15px 30px;
    margin:5px 5px ;
    font-size: 13px;
    font-weight: 600;
    color: orangered;
}
.hero_c_header{
    display: flex;
    justify-content: space-between;
}
h6{
    align-items: center;
    width: 70%;
}
.laoding{
    margin: 10px;
    padding-left: 10px;
    justify-content: space-evenly;
    display: flex;

}
.circle{
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color:rgba(217, 216, 216, 0.912)

}

.hero_c_footer{
    display: flex;
   
    
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    
}
.footer_user{
    font-size: 10px;
    color: grey;
}
.footer_no{
   
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
   
    width: 500px;
    margin-top: 0px;
    background-color: orangered;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: white;
}
.hero_c_mid{
    
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 1px;
    margin-left: 60px;
    text-align: right;
    align-items: baseline;
}
.button_1{
    margin: 0px;
    font-size: 9px;
    width: 100px;
    height: 40px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items:center;
}
.under_footer{
    display: flex;
    width: 500px;
    align-items: center;
    text-align: center;
}
.timeline{
    height: 100px;
    width: 100px;
    font-size: 10px;
   padding-top:50px ;
}
.time_info{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 50px;

}
.button_2{
    font-size: 9px;
    width: 100px;
    justify-content: space-evenly;
}
h3{
    padding: 100px 100px 30px 100px;
    font-size: 50px;
    text-align: center;
}
h4{
    font-size: 24px;
    text-align: left;
    padding-bottom: 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;
}

.card_1{
    
    
    width:320px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

   border-radius: 10px;
   padding-left: 10px;
   margin-top: 30px;

}
.icon_1{
    padding: 30px 30px 10px 30px;
    display: flex;
    font-size: 25px;
    font-weight: 600;
    gap: 10px;
    
    
}
.funnel{
    background-color: rgb(242, 238, 238);
    border-radius: 15px;
    align-items:baseline;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
}
.fa-solid{
    padding-top: 8px;
    height:30px;
    width: 30px;
  
}
.card_2{
    
    width:320px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
   border-radius: 10px;
   padding-left: 10px;

}
.card_3{
    
    width:320px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

   border-radius: 10px;
   padding-left: 10px;
   margin-top: 30px;


}
h4{
    padding: 0 20px;
}
.hero_box3{
    text-align: center;
}
h5{
    font-size: 20px;

}
.legend{
    padding-top: 50px;
    text-align: right;
    justify-content: space-evenly;
    display: flex;
    margin-left: 50%;
    width: 40%;
}
.downgrade{
    display: flex;    
}
.churn{
    display: flex;
}
.expansion{
    display: flex;
}
.new_business{
    display: flex;
}
.circle1{
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: pink;
}
.circle2{
    margin-right: 3px;

    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: red;
}
.circle3{
    margin-right: 3px;

    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color:lightgreen;
}
.circle4{
    margin-right: 3px;

    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color:rgba(0, 100, 0, 0.8);;
}

.graph{
    display: flex;
    margin-left: 250px;
    gap: 30px;
   
}
.no{
    display: flex;
    flex-direction: column;
       justify-content: space-evenly;
}
.card3{
    width: 1150px;
    height: 450px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    transform: translateY(30px);
   
}
.col_1{
    align-items: center;
}
.col1_1{
    width: 80px;
    height: 10px;
    background-color:rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col1_2{
    width: 80px;
    height: 25px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col1_3{
    width: 80px;
    height: 15px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col_2{
    align-items: center;
    margin-left: 1.5px;
}
.col2_1{
    width: 80px;
    height: 12px;
    background-color:rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
   
}
.col2_2{
    width: 80px;
    height: 12px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col2_3{
    width: 80px;
    height: 12px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col2_4{
    width: 80px;
    height: 9px;
    background-color:white;
    border-radius: 4px;

}
.col_3{
    align-items: center;
    margin-left: 1.5px;
}
.col3_1{
    width: 80px;
    height: 100px;
    background-color: rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col3_2{
    width: 80px;
    height: 50px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col3_3{
    width: 80px;
    height: 130px;
    background-color: white;
    border-radius: 4px;
}
.col_4{
    margin-left: 1.5px;
    align-items: center;
}
.col4_5{
    width: 80px;
    height: 46px;
    background-color: white;
    border-radius: 4px;
}
.col4_1{
    width: 80px;
    height: 12px;
    background-color:rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col4_2{
    width: 80px;
    height: 40px;
    background-color: rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col4_3{
    width: 80px;;
    height: 30px;
    background-color:orangered;
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col4_4{
    width: 80px;
    height: 50px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col_5{
    margin-left: 1.5px;
    align-items: center;
}
.col5_1{
    width: 80px;
    height: 12px;
    background-color:rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col5_2{
    width: 80px;
    height: 12px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col5_3{
    width: 80px;
    height: 25px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col5_4{
    width: 80px;
        height: 21px;
    background-color:white;
    border-radius: 4px;

}
.col_6{
    margin-left: 1.5px;
    align-items: center;
}
.col6_5{
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col6_1{
    width: 80px;
    height: 50px;
    background-color: rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col6_2{
    width: 80px;
    height: 50px;
    background-color: rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col6_3{
    width: 80px;
    height: 20px;
    background-color:orangered;
    margin-bottom: 1.5px;
    border-radius: 4px;
}
.col6_4{
    width: 80px;
    height: 20px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col_7{
    margin-left: 1.5px;
    align-items: center;
}
.col7_1{
    width: 80px;
    height: 24px;
    background-color:rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col7_2{
    width: 80px;
    height: 12px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col7_3{
    width: 80px;
    height: 12px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col_8{
    margin-left: 1.5px;
    align-items: center;
}
.col8_5{
    width: 80px;
    height: 78px;
    background-color: white;
    border-radius: 4px;
}
.col8_1{
    width: 80px;
    height: 80px;
    background-color: rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col8_2{
    width: 80px;
    height: 50px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col8_3{
    width: 80px;
    height: 10px;
    background-color:orangered;
    margin-bottom: 1.5px;
    border-radius: 4px;
}
.col8_4{
    width: 80px;
    height: 20px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col_9{
    margin-left: 1.5px;
    align-items: center;
}
.col9_5{
    width: 80px;
    height: 52px;
    background-color: white;
    border-radius: 4px;
}
.col9_1{
    width: 80px;
    height: 35px;
    background-color:rgb(178, 240, 178);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col9_2{
    width: 80px;
    height: 25px;
    background-color:rgba(46, 148, 68, 0.814);
    border-radius: 4px;
    margin-bottom: 1.5px;
}
.col9_3{
    width: 80px;
    height: 10px;
    background-color:orangered;
    margin-bottom: 1.5px;
    border-radius: 4px;
}
.col9_4{
    width: 80px;
    height:80px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col_10{
    margin-left: 1.5px;
    align-items: center;
}
.col10_1{
    width: 80px;
    height: 10px;
    background-color:rgba(255, 205, 198, 0.875);
    border-radius: 4px;
}
.col10_2{
    width: 80px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
}
.col11_1{
    width: 80px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
}
.col_12{
    margin-left: 1.5px;
    align-items: center;
}
.col12_1{
    width: 80px;
    height: 10px;
    background-color:orangered;
    border-radius: 4px;
}
.col12_2{
    width: 80px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
}
.months{
    width: 1150px;
  
    display: flex;
    margin-left: 250px;
    justify-content: space-evenly;
   
}
.Aug{
    transform: translateX(-12px);
}
.oct{
    transform: translateX(-25px);

}
.dec{
    transform: translateX(-38px);

}
.feb{
    transform: translateX(-50px);
}
.arp{
    transform: translateX(18px);
}


.footer{
    margin-top: 100px;
    
    width: 1500px;
    height: 550px;
    background-color: black;
    margin-left: 100px;
    border-radius: 20px;
    color: white;
    text-align: center;
   
    
}
.footer_icons{
    margin: 60px 100px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 30px ;

}
.footer_name{
    margin: 0px 11px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.last_op{
    margin-top: 100px;
}
.learn_more1{    border: 1px solid orangered;
    border-radius: 18px;
    padding: 15px 30px;
    margin:5px 5px ;
    font-size: 13px;
    font-weight: 600;
    color: orangered;
    background-color: transparent;


}




